/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 4, 2018, 8:56:37 PM
    Author     : lucian.alexandru
*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff8080;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 8px;
}

ri {
    float: right;
}

ri a {
    padding: 8px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #8080ff;
    color: white;
    text-align: center;
}